################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/bin/Debug/netcoreapp2.0
/Api/obj
/Data.DataAccess/bin/Debug/netcoreapp2.0
/Data.DataAccess/obj
/Data.Entities/bin/Debug/netcoreapp2.0
/Data.Entities/obj
/Api/bin/Release/netcoreapp2.0
/Data.DataAccess/bin/Release/netcoreapp2.0
/Data.Entities/bin/Release/netcoreapp2.0
/Api/Properties/PublishProfiles
/Data.DataAccess/Migrations/20170902062314_server.cs
/Data.DataAccess/Migrations/20170902062314_server.Designer.cs
/Data.DataAccess/Migrations/20170926045818_UpdateLike.cs
/Data.DataAccess/Migrations/20170926045818_UpdateLike.Designer.cs
